*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: sans-serif;
}
header{
  background-color: #021431;
}

.container{
  width: 100%;
  max-width: 1100px;
  margin:0 auto
  
}
.header_top{
  background-color: #021431;
  padding: 10px;
  color:#A1C9D1;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.header_top a{
  color:#C7C9D1;
 font-size: 14px;
 text-decoration: none;
 line-height: 1.25rem;
}
a:hover{
  text-decoration: underline;
}
.navbar{
  background-color:#F0F6FF;
  display: flex;
  padding: 10px;
  align-items:center;
}
.navbar .container{
  display: flex;
 align-items: center;
  justify-content: space-between;
}
.logo{
  padding: 8px 14px;
  justify-content: flex-start;
  background-color:#057AFF;
  border-radius:8px;
  
}
.logo a{
  font-size: 25px;
  text-decoration: none;
  color:#A1C9D1;
}
.nav-head{
  display: flex;
  gap: 20px;
  
}
.nav-head a{
  text-decoration: none;
  color:#394E6A;
  font-size: 14px;
  padding: 10px 8px;
  cursor: pointer;
  border-radius:8px;
}
.nav-head a:hover{
  background-color:#C7C9D1;
  padding: 10px 8px;
  transition: all 0.3s;
}
.icons{
  display: flex;
  align-items: center;
  gap: 20px;
  cursor:pointer;
}
.fa-moon{
  width: 15px;
}
.fa-cart{
  width: 15px;
}